/* header_mobile */
@media screen and (max-width: 500px) {
  .header {
    height: 20.83vw;
  }
  .header .header_container {
    width: 95%;
    align-items: center;
  }
  .header .header_container > img {
    height: 60%;
  }
  .header .header_container .nav_box {
    align-self: flex-end;
  }
  .header .header_container .nav_box p {
    font-size: 3vw;
  }
}
