/* adminLists */
.adminLists {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10vw;
}
.adminLists .upload_btn {
  width: 5.47vw;
  height: 1.67vw;
  margin-top: 1.77vw;
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}
.adminLists .upload_btn p {
  font-size: 0.89vw;
  color: white;
}
.adminLists .table {
  width: 100%;
  height: auto;
  margin-top: 0.73vw;
}
.adminLists .table .head_row {
  width: 100%;
  height: 1.82vw;
  display: flex;
  align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
.adminLists .table .head_row p {
  font-size: 1.04vw;
}
.adminLists .table .content_row {
  width: 100%;
  height: 2.6vw;
  display: flex;
  align-items: center;
}
.adminLists .table .even_row {
  background-color: #f7f7f7;
}
.adminLists .table .content_row p {
  font-size: 0.78vw;
  font-weight: 200;
}
.adminLists .table .row > p:nth-child(1) {
  margin-left: 1vw;
  width: 3.71%;
  text-align: center;
}
.adminLists .table .row > p:nth-child(2) {
  margin-left: 1.3vw;
  width: 21%;
  white-space: nowrap;
  overflow: hidden;
}
.adminLists .table .row > p:nth-child(3) {
  margin-left: 1.3vw;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
}
.adminLists .table .row > p:nth-child(4) {
  margin-left: 1.3vw;
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
}
.adminLists .table .row > p:nth-child(5) {
  margin-left: 1.3vw;
  width: 18%;
}
.adminLists .table .content_row .btn_box {
  width: 18%;
  height: 80%;
  margin-left: 1.3vw;
  display: flex;
  justify-content: space-between;
}
.adminLists .table .content_row .btn_box p {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  cursor: pointer;
}
.adminLists .table .content_row:last-child .btn_box p:first-child {
  border: none;
}
.adminLists .change_btn {
  width: 5.47vw;
  height: 1.67vw;
  margin-top: 1.77vw;
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}
.adminLists .change_btn p {
  font-size: 0.8vw;
  cursor: pointer;
  color: white;
}
