@font-face {
  font-family: "BM";
  font-style: normal;
  font-display: swap;
  src: url(fonts/BMHANNAAir_ttf.ttf) format("truetype");
}
@font-face {
  font-family: "MT";
  font-style: normal;
  src: url(fonts/MT.TTF) format("truetype");
  font-display: swap;
  font-license: "이 글꼴(폰트)는 (사)세종대왕기념사업회에서 개발한 문화바탕체 입니다.";
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Muli/Muli-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "cour";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/cour.ttf) format("truetype");
}
@font-face {
  font-family: "cour";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/courbd.ttf) format("truetype");
}
