/* portfolio_mobile */
@media screen and (max-width: 500px) {
  /* .portfolio_s1 */
  .portfolio_s1 {
    height: 69.72vw;
    background-image: url("../../public/images/portfolio_bg_mobile.jpg");
  }
  .portfolio_s1 .text_box p:nth-child(1) {
    font-size: 5vw;
  }
  .portfolio_s1 .text_box p:nth-child(3) {
    font-size: 4.2vw;
    line-height: 7vw;
    margin-top: 3.5vw;
    letter-spacing: -0.05vw;
  }

  /* .portfolio_s2 */
  .portfolio_s2 {
    width: 91.67vw;
    height: 150vw;
    margin-top: 10vw;
    margin-bottom: 30vw;
  }
  .portfolio_s2 .article_container {
    width: 100%;
  }
  .portfolio_s2 .article_container .video_box {
    width: 100%;
    height: auto;
    margin-bottom: 40vw;
  }
  .portfolio_s2 .article_container .video_box .video {
    width: 100%;
    height: 51.56vw;
  }
  .portfolio_s2 .article_container .video_box p {
    font-size: 3.5vw;
    text-align: center;
    margin-top: 5vw;
  }
  .video_popup > img {
    width: 7vw;
    top: 8vw;
    right: 6vw;
  }
  .video_popup .article_container {
    width: 100%;
  }
  .video_popup .article_container > img {
    display: none;
  }
  .video_popup .article_container .video_box {
    width: 100vw;
    height: 56.25vw;
  }
}
