.main_container {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
.main_container .btn_box {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main_container button {
  width: 100px;
  height: 100%;
  border: 1px solid black
}
.data_container {
  width: 80%;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 30px;
}
.data_container > p {
  height: 20px;
  text-align: right;
  margin-right: 10px;
}
.data_container .row {
  display: flex;
}
.data_container .row p {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  font-size: 18px;
}
.data_container .row_head p {
  height: 33px;
  font-size: 20px;
  background-color: lightgray;
  border: 1px solid black;
}
.data_container .row p:nth-child(1) {
  width: 25%;
}
.data_container .row p:nth-child(2) {
  width: 20%;
}
.data_container .row p:nth-child(3) {
  width: 20%;
}
.data_container .row p:nth-child(4) {
  width: 10%;
}
.data_container .row p:nth-child(5) {
  width: 15%;
}
.data_container .row p:nth-child(6) {
  width: 10%;
}